.navbar {
  width: 100%;
  height: 7vh;
  font-family: FiraSans-MediumItalic;
  font-size: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 0 10px 1px gray;
  padding: 2vh;
  display: flex;
  align-items: center;
  @media(max-width: 500px) {
      flex-direction: column;
      height: auto;
  }
  @media(max-width: 340px) {
    font-size: 25px;
}
  &:hover {
    cursor: pointer;
  }
  .leftside {
    margin-right: auto;
    @media(max-width: 500px) {
        margin: auto;
    }
  }
  .rightside {
    margin-left: auto;
    @media(max-width: 500px) {
        margin: auto;
        margin-top: 20px;
    }
  }
}
