.main {
  margin-top: 5vh;
  // border: 1px solid red;
  width: 70%;
  align-self: center;
  .section1 {
    display: flex;
    .imgcontainer {
      box-shadow: 0px 0 1px 0px gray;
      border-radius: 10px;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 300px;
      .image {
        width: 100%;
        background-repeat: 'no-repeat';
        background-size: 'cover';
        background-position: 'center';
      }
    }
    .titlecontainer {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2vh 3vh;
      span {
        font-family: FiraSans-ExtraBold;
        font-size: 1.7rem;
      }
      h1 {
        font-family: FiraSans-SemiBold;
        font-size: 1.5rem;
      }
      .delbutton {
        position: absolute;
        right: 3vh;
        bottom: 2vh;
        font-family: FiraSans-SemiBold;
        font-size: 1.3rem;
        padding: 2px 5px;
        margin-top: 3vh;
        background-color: seashell;
        border: none;
        box-shadow: 1px 0 5px 1px gray;
        border-radius: 7px;
        font-size: 1.2rem;
        &:hover {
          cursor: pointer;
          box-shadow: 1px 0 10px 1px gray;
        }
        &:active {
          transform: translateY(1px);
        }
      }
    }
  }
  hr {
    margin: 2vh;
    height: 2px;
    border: none;
    background: gray;
  }
  .section2 {
    padding: 0 20px 5px;
    .title {
      font-family: FiraSans-Medium;
      font-size: 1.4rem;
    }
    .info {
      font-family: FiraSans-Light;
      font-size: 1rem;
      text-align: justify;
    }
  }
}
